<p>
    update-movie-list works!
</p>
<div class="container">
    <div class="row">
        <div>
            <form>
                <div class="form-group">
                    <label for="movieName">Movie Name</label>
                    <input type="text" class="form-control" id="movieName" placeholder="Enter Movie Name" required>
                </div>

                <div class="form-group">
                    <label for="movieUrl">Movie Picture URL</label>
                    <input type="text" class="form-control" id="movieUrl" placeholder="Enter Movie Picture URL" required>
                </div>
                <div class="form-group">
                    <label for="location">Movie Location</label>
                    <input type="text" class="form-control" id="location" placeholder="Enter Movie Location" required>
                </div>
                <div class="form-group">
                    <label for="movieDate">Movie Date</label>
                    <input type="text" class="form-control" id="movieDate" placeholder="Enter Movie Date" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>