<div id="wrapper" class="animate">
  <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
    <span class="fa fa-home"></span>
    <a class="navbar-brand" href="#">Experience</a>
    <a class="navbar-brand" href="#">Movies</a>
    <a class="navbar-brand" href="#">Events</a>
    <a class="navbar-brand" href="#">Plays</a>
    <a class="navbar-brand" href="#">Sports</a>
    <a class="navbar-brand" href="#">Trailers & Videos</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item">
          <button type="button" class="btn btn-danger">WE'RE HIRING</button>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">OFFERS
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GIFTING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SUPPORT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> <span class="fa fa-bell"></span></a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SIGN-IN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <span class="fa fa-map-marker"></span> CHENNAI</a>
        </li>
      </ul>
    </div>
  </nav>

</div>