.searchIcon {
    position: absolute;
    margin-top: 10px;
    margin-left: 6%;
}
#movieInputs {
    width: 50%;
    padding-left: 40px;
    margin-left: 5%;
}
.movieSearch {
    position: relative;
    left: 25%;
}
.displayMovieList {
    width: 50%;
}
.dropdown {
    top: 38px;
    width: 10px;
}